<!-->
<div class="container">
  <nav class="navbar nav-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" scroll-to="welcome" offset="50"><span><h3>Mapping Marsh's Library Readership</h3></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
              <li><a href="https://github.com/haoliangyu/angular2-leaflet-starter" target="_blank">GitHub</a></li>
          </ul>
        </div>
      </div>
  </nav>
</div>
<!-->

<!-- TOP BAR SECTION with title> -->
<div class="container">
  <nav class="navbar navbar-default">
      <div class="container-fluid" >
          <div class="navbar-header">
            <a class="navbar-brand" href="#" id="title" > Mapping Marsh's Library Readership  </a> 
          </div>
      </div>
  </nav>
</div>
<!-- END OF the TOP BAR SECTION  -->


<!-- PAGE CONTENT section -->
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 well">
      <sidebar></sidebar>
    </div>

    <div class="col-sm-9 col-md-9 "> 
        <div id="mapArea">
          <map-area ></map-area>
        </div>
    </div>
  </div> <!-- closing row -->

  <div class="row">
    <div class="col-sm-3 well">
      <vizoptions-panel></vizoptions-panel>
    </div>

    <div class="col-sm-9">
      <temp-slider></temp-slider>
    </div>

    <div class="col-sm-9 ">
      <detail-panel></detail-panel>
    </div>

    
    
    
  </div> <!-- closing row -->
</div> <!-- closing container -->
<!-- PAGE CONTENT section END -->


